[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"urllib3" = "*"
"beautifulsoup4" = "*"
selenium = "*"
requests-oauthlib = "*"
"mecab-python3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
