body{
    /* background-color: #EEE;
    color: #333; */
    text-align:center;
    font-size: 12px;
    /* font-family: "Nico Moji", sans-serif; */
}

h1{
    color: #dc8a07;
    font-size: 50px;
    padding: 10px 0 0 0;
    font-family: 'Creepster', cursive;
}
h2 {
  color: #dc8a07;
  font-size: 20px;
  padding: 10px 0 0 0;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
.search_input_label{
  color: #dc8a07;
  font-size: 15px;
  padding: 10px 0 0 0;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
.square_btn {
    width: 50px;
    height: 40px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: black;
    border: solid 2px #dc8a07;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #dc8a07;
    color: white;
}

.input_text{
  border:0;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#dc8a07;
  border:solid 1px #dc8a07;
  margin:0 0 20px;
  width:300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
#teamC {
    padding-right: 40px;
    padding-right: 40px;
    font-size: 0.8rem;
    float: right;
}
a {
    font-size: 40px;
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* #instaTitle {
  margin: 0 0 0 0;
} */
/*
a:hover {
    background: #0090aa;
} */
.allBody{
  padding: 20px;
}
#twitterBody{
  float: left;
  height: 50%;
  width: 50%;
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: rgba(0,0,0,.7);
}
#instaBody{
  float: right;
  height: 50%;
  width: 50%;
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: rgba(0,0,0,.7);
}
.chart{
  padding: 20px;
}

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}
