body{
    background-color: #EEE;
    color: #333;
    text-align:center;
    font-size: 12px;
    font-family: "Nico Moji", sans-serif;
}

/* h1, h2{
    color: #dc8a07;
    font-size: 13px;
    padding: 10px 0 0 0;
}

div{
   border-radius: 6px;
   margin: 10px auto;
   padding: 20px;
}
p {
    font-size: 1.5rem;
}
a {
    font-size: 2rem;
    background: #0bd;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
}
a:hover {
    background: #0090aa;
} */
.allBody{
  padding: 20px;
}
#twitterBody{
  float: left;
  height: 50%;
  width: 50%;
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: rgba(255,255,255,.7);
}
#instaBody{
  float: right;
  height: 50%;
  width: 50%;
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: rgba(0,0,0,.7);
}
.chart{
  padding: 100px;
}

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}
