<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Economica:700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Watch Emotion on Timeline</h1>
      <form action="./get_post" name="form1" onsubmit="return  onButtonLoading();onButtonSubmit();">
        <span>検索ワード入力:</span>
        <input type="text" name="inputboxname" size="20px" value="" >
        <input type="submit" value="送信">
      </form>
    </header>
    <div id="allBody">
      <div id="twitterBody" >
        <img src="static/twitterLogo.png" width=53.4px height=40px>
        <a>Twitter</a>
        <div class="chart">
          <canvas id="twitterPiechart"></canvas>
        </div>
        <div class="chart">
          <canvas id="twitterBargraph"></canvas>
        </div>
        <h2 href="https://twitter.com/" >Twitterを見てみる</h2>
      </div>
      <div id="instaBody">
        <img src="static/instagram_newlogo.png" width=64px height=48px>
        <a id="instaTitle">Instagram</a>
        <div class="chart">
          <canvas id="instaPiechart"></canvas>
        </div>
        <div class="chart">
          <canvas id="instaBargraph"></canvas>
        </div>
        <h2 href="https://www.instagram.com/">Instagramを見てみる</h2>
      </div>
    </div>
    <footer>
      <p id="teamC">created by teamC</p>
    </footer>
    <script src="static/js/Chart.js" type="text/javascript"></script>
    <script src="static/js/TwitterFunc.js" type="text/javascript"></script>
    <script src="static/js/InstaFunc.js" type="text/javascript"></script>
    <script>
      function dispLoading(msg){
        if( msg == undefined ){
          msg = "";
        }
        var dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
        if($("#loading").length == 0){
          $("body").append("<div id='loading'>" + dispMsg + "</div>");
        }
      }

      function removeLoading(){
        $("#loading").remove();
      }

      function onButtonLoading(){
          // 処理前に Loading 画像を表示
        dispLoading("処理中...");

          // 非同期処理
        $.ajax({
            url : "/twitter",
            type:"GET",
            dataType:"json"
          })
          // 通信成功時
          .done( function(data) {
            showMsg("成功しました");
          })
          // 通信失敗時
          .fail( function(data) {
            showMsg("失敗しました");
          })
          // 処理終了時
          .always( function(data) {
            // Lading 画像を消す
            removeLoading();
          });
        return false;
       }
    </script>
  </body>
</html>
