<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Economica:700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Watch Emotions on SNS</h1>
      <form action="./get_post" name="form1" onsubmit="return onButtonTwitter(), onButtonInstagram();">
        <span class="search_input_label">検索ワード入力:</span>
        <input type="text" class="input_text" name="inputboxname" size="20px" value="" >
        <input type="submit" value="送信" class="square_btn">
      </form>
    </header>
    <div class="allBody">
      <div id="twitterBody" >
        <img src="static/twitterLogo.png" width=53.4px height=40px>
        <a>Twitter</a>
        <div class="chart">
          <canvas id="twitterPiechart"></canvas>
          <h2>検索ワード感情分析</h2>
        </div>
        <div class="chart">
          <canvas id="LatestTwitterPiechart"></canvas>
          <h2>タイムライン全体分析</h2>
        </div>
        <div class="chart">
          <canvas id="twitterBargraph"></canvas>
          <h2>関連ワードランキング</h2>
        </div>
      </div>
      <div id="instaBody">
        <img src="static/instagram_newlogo.png" width=64px height=48px>
        <a id="instaTitle">Instagram</a>
        <div class="chart">
          <canvas id="instaPiechart"></canvas>
          <h2>検索ワード感情分析</h2>
        </div>
        <div class="chart">
          <canvas id="LatestInstaPiechart"></canvas>
          <h2>タイムライン全体分析</h2>
        </div>
        <div class="chart">
          <canvas id="instaBargraph"></canvas>
          <h2>関連ワードランキング</h2>
        </div>
      </div>
    </div>
    <footer>
      <p id="teamC">created by team B</p>
    </footer>
    <script src="static/js/Chart.js" type="text/javascript"></script>
    <script src="static/js/TwitterFunc.js" type="text/javascript"></script>
    <script src="static/js/InstaFunc.js" type="text/javascript"></script>
    <script src="static/js/LatestPiechart.js" type="text/javascript"></script>
  </body>
</html>
